.notification {
    z-index: 20000;
    position: absolute;
    padding: 15px;
    background-color: #000000;
    top: 10px;
    border-radius: 15px;
    border-bottom: 2px solid var(--secondary-color);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.568);
    opacity: .8;
    transition: transform .3s ease;
}

.notification.off {
    transform: translateY(-190px);
}

.notification > p {
    letter-spacing: 1px;
}